<%- include('./includes/header.ejs') %>
<main id="main">

    <h1>Nom : <%- data.nom %></h1>
     <!--<header class="head">
      <img class="image"src="icon-left-font.png" alt="png">
       
        <div class="menu">
            <div><a href="index.html" id="hom" class="fa fa-home"></a></div>
        
            <div class="dropdown"><a href="#"><img src="femme.jpg" alt="Avatar" class="avatar1"/></a>
                <div class="dropdown-content">
                  <a href="#"><i class="fa fa-fw fa-user"></i> Profil </a>
                  <hr class="dropdown-divider">
                  <a href="#">Déconnexion</a>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="MP">
            <div class="page3">
                <img src="femme.jpg" alt="Avatar" class="avatar2">
            </div>
            <div class="Deux">
                <div class="parti1">
                    <div class="nom">
                        <p>Nom Prénom</p>
                    </div>
                  
                </div>

            </div>
        </div>
      </br>
        <hr>
    <div class="section">
        <div class="connexion">
          <div class="for">
              <label class="titre" for="Nom">Nom:</label>
              <input class="titre" type="text" id="Nom" name="Nom" placeholder="Nom"><br>
              <label class="titre" for="Prenom">Prenom:</label>
              <input class="titre" type="text" id="Prenom" name="Prenom" placeholder="Prenom"><br>
              <label class="titre" for="Email">Email:</label>
              <input class="titre" type="email" id="Email" name="Email" placeholder="Email"><br>

              <input type="submit" value="modifier" id="modifier"/><br>
              

          </div>
        </div>

        <div class="pub">
            <h2>Publications</h2>
            <br>
            <br>
            <div class="responsive">
                <div class="gallery">
                  <a target="_blank" href="image1.png">
                    <img src="Sans titre.png"  class="photo" alt="Cinque Terre">
                  </a>
                </div>
            </div>
            
        </div>
    </div>
    
                
        

    </section> -->
<main>
</body>