<%- include('./includes/header.ejs') %>
    <section class="page1">
        <img src="/img/icon-left-font.png" alt="png">
        <% if(locals.error) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(locals.successMessage) { %>
            <div class="alert alert-success" role="alert">
                <%= successMessage %>
            </div>
         <% } %>
        <form action="/register" method="post" id="example-form">
            <div class="for">
                <label class="titre" for="Nom">Nom:</label>
                <input class="titre" type="text" id="Nom" name="nom" placeholder="Nom"><br>
                <label class="titre" for="Prenom">Prenom:</label>
                <input class="titre" type="text" id="Prenom" name="prenom" placeholder="Prenom"><br>
                <label class="titre" for="Email">Email:</label>
                <input class="titre" type="email" id="Email" name="email" placeholder="Email"><br>
                <label class="titre" for="password">Password:</label>
                <input class="titre" type="password" id="password" name="password" placeholder="Password">

                <input type="submit" value="Se connecter" id="Se-connecter"/><br>
                

            </div>
        </form>
        




    </section>
</body>
</html>